

{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-12 px-3 py-3"  align="center">



           <h3>This is a web that guesses faces emotions in uploaded image.</h3>
            <h4><a href="https://github.com/seifElislam/emotion_guesser-">Project repo </a>, <a href="https://www.kaggle.com/c/challenges-in-representation-learning-facial-expression-recognition-challenge/data">dataset link </a> </h4>
            <ul>Technologies:
            <li>Flask</li>
            <li>openCv</li>
            <li>Keras for Deep learning</li></ul>
            <br>
            <h4><a href="https://www.linkedin.com/in/seifelislam/">Developer linkedin profile </a></h4>


        </div>
    </div>

{% endblock content %}